* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#two-column {
    display: flex;
    max-width: 800px;
}
#sidebar {
    background-color: lightblue;
    border: 2px solid #438ca5;
    padding: 12px;
}
#main {
    flex: 2;
    padding: 48px;
}