* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#two-column {
    display: flex;
    max-width: 800px;
}
#sidebar {
    background-color: #cce7f0;
    border: 3px solid #438ca5;
    padding: 12px;
    margin: 6px;
    max-height: 375px;
}
#main {
    flex: 2;
    padding: 48px;
    display: inline-block;
}
div#two-column a {
    text-decoration: none;
    color: #438ca5;
}
div#sidebar h3 {
    color: #438ca5;
    text-decoration: underline 3px;
}