* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
/* HERO 1 */
#hero-1 {
    background-image: url("../images/h1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

/* HERO 2 */
#hero-2 {
    background-image: url("../images/h2.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
/* HERO 3 */
#hero-3 {
    background-image: url("../images/h3.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
}