* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#main-navbar
#navbar {
    position: sticky;
    top: 0px;
}
#body {
    background-image: url("../images/background-2.jpg");
    height: 150vh;
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
}
#main-navbar {
    background-color: #f5d9b4;
    margin-bottom: 34px;
    display: flex;
    align-items: center;
    padding: 24px;
    margin: 0px;
}
#main-navbar .icon-nav {
    margin-left: auto;
    padding-right: 24px;
}
.icon-nav a {
    color: #4553a4;
    font-size: 36px;
    padding-left: 36px;
}
#main-navbar #name img{
    width: 400px;
    padding-left: 48px;
}
#main-navbar img{
    width: 200px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5d9b4;
    padding: 12px;
    margin-top: 12px;
}
.navbar a {
    text-decoration: none;
    color: #4553a4;
    font-size: 24px;
    padding: 12px 16px;
}
#footer {
    background-color: #f5d9b4;
    color: #4553a4;
    padding: 48px 0px;
    display: flex;
    justify-content: center;
}
#hero {
    background-image: url("../images/hero2-rest.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    margin: 72px 48px 36px 48px;
    display: flex;
    justify-content: center;
}
.hero-content h2 {
    font-size: 130px;
    color: rgb(255, 255, 255);
    text-shadow: 12px 12px 12px #000000d2;
    text-align: center;
    padding-bottom: 45vh;
}
.hero-content a {
    display: flex;
    justify-content: center;
    font-size: 48px;
    text-decoration: none;
    color: aliceblue;
    background-color: #4553a4;
    padding: 24px 0px;
    border-radius: 48px;
}
/* MENU PAGE **********************************************/
.card-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.card-content #card-menu {
    border: 5px solid #f5d9b4;
    background-color: #ffffff;
    padding: 16px;
    flex: 300px;
    margin: 24px;
    height: 250px;
}
#main-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-feature h2 {
    display: flex;
    font-size: 64px;
    color: #4553a4;
    background-color: #f5d9b4;
    
}
#main-feature img {
    width: 80%;
    height: 40%;
    object-fit: cover;
}
#main-feature h4 {
    font-size: 36px;
}
#main-feature p {
    font-size: 22px;
    margin: 0px 60px;
}
