* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#main-navbar
#navbar {
    position: sticky;
    top: 0px;
}
#body {
    background-image: url("../images/background-2.jpg");
    min-height: 150vh;
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
}
#main-navbar {
    background-color: #eed6b8;
    margin-bottom: 34px;
    display: flex;
    align-items: center;
    padding: 24px;
    margin: 0px;
}
#main-navbar .icon-nav {
    margin-left: auto;
    padding-right: 24px;
}
.icon-nav a {
    color: #6d460b;
    font-size: 36px;
    padding-left: 36px;
}
#main-navbar #name img{
    width: 400px;
    padding-left: 48px;
}
#main-navbar img{
    width: 200px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eed6b8;
    padding: 12px;
    margin-top: 12px;
}
.navbar a {
    text-decoration: none;
    color: #6d460b;
    font-size: 24px;
    padding: 12px 16px;
}
#body .navbar a:hover {
    color: #4553a4;
    text-decoration: underline;
}
#footer {
    background-color: #eed6b8;
    color: #6d460b;
    padding: 48px 0px;
    display: flex;
    justify-content: center;
}
#hero {
    background-image: url("../images/hero2-rest.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    margin: 72px 48px 36px 48px;
    display: flex;
    justify-content: center;
}
.hero-content h2 {
    font-size: 130px;
    color: rgb(255, 255, 255);
    text-shadow: 12px 12px 12px #000000d2;
    text-align: center;
    padding: 12vh 0px 16vh 0px;
}
.hero-content a {
    display: flex;
    justify-content: center;
    font-size: 48px;
    text-decoration: none;
    color: aliceblue;
    background-color: #4553a4;
    padding: 24px 0px;
    border-radius: 48px;
}
/* MENU PAGE **********************************************/
.card-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0px 10vw;
}
.card-content h4 {
    text-align: center;
    font-style: italic;
}
.card-content #card-menu {
    border: 5px solid #6d460b;
    background-color: #f7e7d3;
    padding: 16px;
    flex: 300px;
    margin: 24px;
    height: 270px;
}
.card-content h3 {
    color: #6d460b;
}
#main-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #6d460b;
    background-color: #f7e7d3;
    margin: 4vh 10vw;
}
#main-feature h2 {
    display: flex;
    font-size: 80px;
    color: #6d460b;
    border-radius: 24px;
    
}
#main-feature img {
    width: 50%;
    height: 30%;
    object-fit: cover;
}
#main-feature h4 {
    font-size: 36px;
    color: #6d460b;
}
#main-feature p {
    max-width: 800px;
    font-size: 16px;
    margin: 0px 60px;
}
#main-feature h5 {
    font-size: 16px;
    padding: 12px;
    font-style: italic;
}
/* Media Queries **********************************************/
@media screen and (max-width: 1065px) and (min-width: 876px) {
    .hero-content h2 {
        padding-bottom: 2vh;
    }
    .hero-content a {
        margin: 0px 36px;
    }

}

@media screen and (max-width: 875px )and (min-width: 665px) {
    #main-navbar img {
        width: 125px;
    }
    #main-navbar #name img{
        width: 300px;
    }
    .navbar a {
        font-size: 16px;
    }
    #main-navbar .icon-nav a {
        font-size: 36px;
    }
    .hero-content h2 {
        font-size: 100px;
        margin-bottom: 0px;
        padding-bottom: 16vh;
        padding-top: 12vh;
    }
    .hero-content a {
        font-size: 36px;
        margin: 0px 48px;
        padding: 16px;
    }
    #main-feature h2 {
        font-size: 48px;
    }
    #main-feature h4 {
        font-size: 24px;
    }
    #main-feature p {
        font-size: 16px;
    }
}
@media screen and (max-width:664px) {
    #main-navbar img {
        width: 100px;
    }
    #main-navbar #name img{
        width: 200px;
    }
    .navbar a {
        font-size: 14px;
    }
    #main-navbar .icon-nav a {
        font-size: 24px;
        padding: 0px 6px;
    }
    #hero h2 {
        font-size: 75px;
        margin-bottom: 0px;
        padding-bottom: 36vh;
        padding-top: 6vh;
    }
    #hero a {
        margin: 0px 36px;
        font-size: 24px;
        margin-top: 0px;
        padding: 24px 48px;
    }
    #main-feature h2 {
        font-size: 36px;
    }
    #main-feature h4 {
        font-size: 20px;
    }
    #main-feature p {
        font-size: 16px;
    }

    
}

